@{
    ViewData["Title"] = "Makeup Exam Added Successfully";
}

<!DOCTYPE html>
<html>
<head>
    <title>Makeup Exam Added Successfully</title>
</head>
<body>
    <h1>Makeup Exam Added Successfully</h1>
    <p>The makeup exam has been successfully added for the course.</p>
</body>
</html>
