@{
    ViewData["Title"] = "Delete Slots Success";
}

<h1>Delete Slots Successful</h1>

<p>The slots have been successfully deleted.</p>

<p>Return to <a asp-action="Index" asp-controller="Home">homepage</a> or perform other actions.</p>
