@{
    ViewData["Title"] = "Makeup Exam Adding Failed";
}

<!DOCTYPE html>
<html>
<head>
    <title>Makeup Exam Adding Failed</title>
</head>
<body>
    <h1>Makeup Exam Added Failed</h1>
    <p>Fail</p>
</body>
</html>
