@{
    ViewData["Title"] = "Error Fetching Students Transcript Details";
}

<h1>Error Fetching Students Transcript Details</h1>

<p>An error occurred while attempting to fetch students' transcript details:</p>
<p>@ViewBag.ErrorMessage</p>

<p>Please <a asp-action="Index" asp-controller="Home">return to the homepage</a> or try again later.</p>
